/*--------------------------------------------------------------
# General Styles
--------------------------------------------------------------*/
body {
  background: #743C08;
  color: #743C08;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.02em;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  color: #292929;
  font-weight: 600;
}

h4 {
  color: #292929;
  font-size: 14px;
  font-weight: 600;
}

a {
  color: #292929;
  text-decoration: none !important;
  transition: all 0.5s ease-in-out;
}

a:hover {
  transition: all 0.5s ease-in-out;
}

p {
  margin: 25px 0;
  padding: 0;
  font-size: 15px;
  color: #999999;
  line-height: 28px;
}

::-moz-selection {
  background: #b8a07e;
  color: #fff;
}

::selection {
  background: #b8a07e;
  color: #fff;
}

.btn {
  background: #333;
  border: none;
  border-radius: 0;
  color: #fff;
  font-size: 12px;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  text-transform: uppercase;
}

.btn:hover, .btn:focus {
  color: #fff;
}

.form-control {
  background-color: transparent;
  border: 1px solid #999;
  border-radius: 0;
  color: #999999;
  font-size: 12px;
  font-weight: 500;
  height: 50px;
  letter-spacing: 0.1em;
  padding-left: 10px;
  margin: 0 0 25px;
  line-height: 14px;
  text-transform: uppercase;
}

.form-control:focus {
  background-color: #FFEBAF;
  box-shadow: none;
  outline: none;
}

/*--------------------------------------------------------------
# Section Spacing
--------------------------------------------------------------*/
.paddsection {
  padding: 90px 0;
}

.main-content {
  padding-top: 140px;
}

.padDiv {
  padding: 30px 20px;
}

.section-title {
  margin-bottom: 30px;
}

.section-title h2 {
  color: #743C08;
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 800;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #b8a07e;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
}

.back-to-top:hover {
  background: #c6b398;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  background-color: #F6B61E;
  top: -100%;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.08);
}

#header.header-scrolled, #header.header-inner-pages {
  top: 0;
}

#header .logo {
  font-size: 30px;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Playfair Display", sans-serif;
  font-style: italic;
}

#header .logo a {
  color: #898989;
}

#header .logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.navbar-custom {
  background-color: #743C08;
  border-bottom: none;
}

.nav-link {
  color: #F6B61E 
}

.navbar-toggler {
  border: none;
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23F6B61E' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-nav .dropdown-menu .dropdown-item,
.navbar-nav .nav-link,
::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
  color: #F6B61E !important;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-item {
  flex: 0 1 auto;
}

.nav-item .nav-link {
  text-align: center;
  display: block;
  width: 100%;
}

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
#hero {
  background: url("../img/brown.png") repeat center center/cover;
  height: 100vh;
  width: 100%;
}

#hero .hero-content {
  height: 100%;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 35vh;
}

.hero-content h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #F6B61E;
}

.hero-content p {
  font-size: 13px;
  letter-spacing: 3px;
  margin-top: 0;
  margin-bottom: 30px;
  color: #F6B61E;
  font-weight: 500;
}

.hero-content .list-social li {
  float: left;
  margin-right: 20px;
}

.hero-content .list-social li i {
  color: #F6B61E;
  font-size: 15px;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
#portfolio {
  position: relative;
  padding-bottom: 50px;
  background-color: #F6B61E;
}

#portfolio .portfolio-info h6 {
  color: #743C08;
  font-weight: 500;
}

#portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 35px;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}

#portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  color: #743C08;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

#portfolio #portfolio-flters li:hover,
#portfolio #portfolio-flters li.filter-active {
  color: #DF760B;
}

.fixed-size {
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

#portfolio .portfolio-item {
  margin-bottom: 30px;
}

#portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
}

#portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #666;
  font-weight: 600;
  margin-bottom: 10px;
}

#portfolio .portfolio-item .portfolio-info p {
  color: #999;
  font-size: 14px;
}

#portfolio .portfolio-item .portfolio-info .preview-link,
#portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #b8a07e;
}

#portfolio .portfolio-item .portfolio-info .preview-link:hover,
#portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #cab89f;
}

#portfolio .portfolio-item .portfolio-info .details-link {
  right: 10px;
}

#portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  bottom: 20px;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about {
  background-color: #F6B61E;
}

@media (max-width: 600px) {#about .lead {font-size: 12px; line-height: 20px;}}

/*--------------------------------------------------------------
# Journal
--------------------------------------------------------------*/
#journal,
#journal-blog {
  height: auto;
  width: 100%;
  padding-bottom: 60px;
  position: relative;
}

#journal {
  background-color: #FFEBAF;
}

#journal-blog {
  background: #fff;
  padding-bottom: 30px;
}

#journal .journal-block {
  display: inline-block;
  height: auto;
  width: 100%;
}

#journal .journal-block .journal-info {
  position: relative;
}

.journal-block .journal-info img {
  max-width: 100%;
}

.journal-block .journal-info .journal-txt {
  padding: 25px 0;
}

.journal-block .journal-info .journal-txt h4 a {
  display: block;
  font-size: 19px;
  line-height: 24px;
  margin: 0 0 13px;
  font-weight: 500;
  color: #292929;
  transition: all 0.5s ease-in-out;
}

.journal-block .journal-info .journal-txt h4 a:hover {
  color: #b8a07e;
}

.journal-block .journal-info .journal-txt p {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

.custom-px {
  padding-left: 14rem;
  padding-right: 14rem;
  color: #743C08 
}

.display-5 {
  color: #743C08 !important
}

@media (max-width: 900px) {
  .custom-px {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

#journal h3.fs-2 {
  color: #743C08 !important;
  font-size: larger;
  font-weight: 600;
}

#journal h4 {
  padding-top: 15px;
  color: #743C08;
  font-size: 20px;
}

#journal h5 {
  padding-top: 3px;
  color: #743C08;
  font-size: 16px;
  font-weight: 400;
}

#journal h6 {
  padding-top: 5px;
  color: #743C08;
  font-size: 12px;
  font-weight: 200;
}

.circle-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#contact {
  background-color: #743C08;
  height: auto;
  width: 100%;
}

.touch {
  color: #F6B61E; 
}

.contact-details {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #F6B61E;
}

.contact-details li {
  padding-bottom: 10px;
}

.contact-details a {
  color: #F6B61E !important; /* Ensure this matches the yellow color */
  text-decoration: none !important; /* Remove underline */
}

.contact-details a:hover,
.contact-details a:visited,
.contact-details a:active {
  color: #F6B61E !important; /* Ensure it remains yellow in all states */
}

#contact input,
#contact textarea {
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid #F6B61E; /* Change the border color to yellow */
  color: #F6B61E; /* Change the text color to yellow */
}

#contact input::placeholder,
#contact textarea::placeholder {
  color: #F6B61E; /* Change the placeholder text color to yellow */
}

#contact input:focus,
#contact textarea:focus {
  border-color: #F6B61E; /* Ensure the border color stays yellow when focused */
  outline: none; /* Remove the default outline */
}

#contact textarea {
  min-height: 160px;
}

.php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  margin-bottom: 15px;
  font-weight: 600;
}

.php-email-form .error-message br+br {
  margin-top: 25px;
}

.php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

.php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin-bottom: 15px;
}

.php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #F6B61E;
  animation: animate-loading 1s linear infinite;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn-send {
  background-color: #F6B61E;
  color: #743C08 !important
}

.btn-send:hover {
  background-color: #DF760B;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #DF760B;
  padding-top: 50px;
  padding-bottom: 50px;
}

#footer .socials-media {
  width: 100%;
}

#footer .socials-media ul {
  display: inline-block;
  margin: 0 0 20px;
}

#footer .socials-media ul li {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

#footer .socials-media ul li a {
  font-size: 24px;
  color: #743C08;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}

#footer .socials-media ul li a:hover {
  color: #b8a07e;
}

#footer p {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 0;
  color: #743C08;
}

.credits {
  font-size: 13px;
}

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {
  .head-info .header-content .cmaster h1 {
    font-size: 32px;
  }
  #about .div-img-bg {
    padding: 0;
  }
  #about .div-img-bg .about-img img {
    margin-top: 0;
    margin-left: 0;
  }
  #about .about-descr .p-heading {
    font-size: 20px;
  }
  #about .about-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }
  #portfolio .portfolio-list .nav li {
    margin: 20px;
    display: inline-block;
  }
  #journal .journal-block .journal-info {
    margin-bottom: 30px;
  }
  .contact-contact {
    margin-bottom: 30px;
  }
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
}

@media (max-width: 767px) {
  nav {
    padding: 20px 15px;
  }
  .nav-menu {
    margin-top: 40px;
    display: none;
    width: 100%;
  }
  .nav-menu li {
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .responsive {
    float: right;
    padding-top: 15px;
  }
  .head-info .header-content h1 {
    font-size: 32px;
  }
  #about .div-img-bg {
    padding: 0;
  }
  #about .div-img-bg .about-img img {
    margin-top: 0;
    margin-left: 0;
  }
  #about .about-descr .p-heading {
    font-size: 20px;
  }
  #about .about-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }
  #portfolio .portfolio-list .nav li {
    margin: 20px;
    display: inline-block;
  }
  #journal .journal-block .journal-info {
    margin-bottom: 30px;
  }
  .contact-contact {
    margin-bottom: 30px;
  }
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
}

@media (max-width: 600px) {
  .nav-menu {
    margin-top: 40px;
    display: none;
    width: 100%;
  }
  .nav-menu li {
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .responsive {
    float: right;
    padding-top: 15px;
  }
  .head-info .header-content h1 {
    font-size: 32px;
  }
  #about .div-img-bg {
    padding: 0;
  }
  #about .div-img-bg .about-img img {
    margin-top: 0;
    margin-left: 0;
  }
  #about .about-descr .p-heading {
    font-size: 20px;
  }
  #about .about-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }
  #portfolio .portfolio-list .nav li {
    margin: 10px;
    display: inline-block;
  }
  #journal .journal-block .journal-info {
    margin-bottom: 30px;
  }
  .contact-contact {
    margin-bottom: 30px;
  }
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
}

@media (max-width: 480px) {
  .nav-menu {
    margin-top: 40px;
    display: none;
    width: 100%;
  }
  .nav-menu li {
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .responsive {
    float: right;
    padding-top: 15px;
  }
  .head-info .header-content h1 {
    font-size: 32px;
  }
  #about .div-img-bg {
    padding: 0;
  }
  #about .div-img-bg .about-img img {
    margin-top: 0;
    margin-left: 0;
  }
  #about .about-descr .p-heading {
    font-size: 20px;
  }
  #about .about-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }
  #portfolio .portfolio-list .nav li {
    margin: 20px;
  }
  #journal .journal-block .journal-info {
    margin-bottom: 30px;
  }
  .contact-contact {
    margin-bottom: 30px;
  }
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
}

@media (max-width: 320px) {
  .nav-menu {
    margin-top: 40px;
    display: none;
    width: 100%;
  }
  .nav-menu li {
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .responsive {
    float: right;
    padding-top: 15px;
  }
  .head-info .header-content h1 {
    font-size: 32px;
  }
  #about .div-img-bg {
    padding: 0;
  }
  #about .div-img-bg .about-img img {
    margin-top: 0;
    margin-left: 0;
  }
  #about .about-descr .p-heading {
    font-size: 20px;
  }
  #about .about-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }
  #portfolio .portfolio-list .nav li {
    margin: 20px;
  }
  #journal .journal-block .journal-info {
    margin-bottom: 30px;
  }
  .contact-contact {
    margin-bottom: 30px;
  }
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
  .entry-comments-body span {
    display: inline-block;
    margin-right: 0;
  }
}
